<!DOCTYPE html>
<html>
<head>
	<title>Casa do Código</title>
</head>
<body>
	<table border="1px">
		<tr>
			<td>Codigo</td>
			<td>Livro</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Livro NodeJs</td>
		</tr>
	</table>
</body>
</html>